@charset "ISO-8859-1";

fieldset{
	border: 2px solid #36DEE0;
	max-width: 500px;
	margin: 2.5rem;
}

legend{
	color: #36DEE0;
	font-style: bold;
}

.info > input{
	width: 40%;
}
.info> label{
	display: flex;
	flex-grow: 1;
}

.info{
	display: flex;
	justify-content: space-around;
	padding-bottom: 1rem;
}

.button{
	margin-left: 2rem;
}

p{
	color: red;
}
